<div class="container-fluid">
    <div class="users">
        @*<div class="jumbotron">
            <p>Listado de usuarios registrados actualmente en el sistema</p>
        </div>*@
        <div class="text-right">
            <span class="text-info">Agregar usuario</span>
            <span class="glyphicon glyphicon-plus"
                  data-toggle="modal" data-target="#modal-container"
                  style="font-size: 13px;"
                  title="Agregar Usuario">
            </span>
        </div>
        <br />
        <table class="table table-striped"  ng-show="users.length > 0">
            <thead class="tooltip-inner">
                <tr>
                    <th color="col">Nombres</th>
                    <th scope="col">Tipo Documento</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in users">
                    <td>{{item.userName}}</td>
                    <td>{{item.documentType}}</td>
                    <td>{{item.documentNumber}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phoneNumber}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-show="list.length == 0">
            <p>No hay usuarios en la plataforma</p>
        </div>

    </div>
</div>