
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-right">
            <a class="btn btn-primary" data-toggle="modal" data-target="#modal-container">Agregar usuario</a>
        </div>
    </div>
    <div class="panel-body">

        <div class="container-fluid">
            <div class="users">               
                <table class="table table-striped" ng-show="users.length > 0">
                    <thead class="tooltip-inner">
                        <tr>
                            <th color="col">Nombres</th>
                            <th scope="col">Tipo Documento</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in users">
                            <td>{{item.userName}}</td>
                            <td>{{item.documentType}}</td>
                            <td>{{item.documentNumber}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.phoneNumber}}</td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="list.length == 0">
                    <p>No hay usuarios en la plataforma</p>
                </div>

            </div>
        </div>

    </div>
</div>