<div class="container-fluid">
    <div class="users">
        @*<div class="jumbotron">
            <p>Listado de usuarios registrados actualmente en el sistema</p>
        </div>*@
        <div class="text-right">
            <span class="text-info">Agregar usuario</span>
            <span class="glyphicon glyphicon-plus"
                  data-toggle="modal" data-target="#modal-container"
                  style="font-size: 30px;"
                  title="Agregar Usuario">
            </span>
        </div>
        <br />
        <table class="table table-responsive" ng-show="users.length > 0">
            <tr>
                <th>Nombres</th>
                <th>Tipo Documento</th>
                <th>Documento</th>
                <th>Correo</th>
                <th>Teléfono</th>
            </tr>
            <tr ng-repeat="item in users">
                <td>{{item.userName}}</td>
                <td>{{item.documentType}}</td>
                <td>{{item.documentNumber}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phoneNumber}}</td>
            </tr>
        </table>
        <div ng-show="list.length == 0">
            <p>No hay usuarios en la plataforma</p>
        </div>
    </div>
</div>