@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Lista de usuarios</h3>

@{Html.RenderPartial("~/Views/User/_List.cshtml");}
@{Html.RenderPartial("~/Views/User/_Create.cshtml");}