<div class="container-fluid">
    <div class="users">
        @*<div class="jumbotron">
            <p>Listado de vuelos disponibles actualmente en el sistema</p>
        </div>*@
        <br />
        <table class="table table-responsive" ng-show="flights.length > 0">
            <tr>
                <th>Ciudad Origen</th>
                <th>Ciudad destino</th>
                <th>Fecha</th>
                <th>Número de vuelo</th>
                <th>Piloto</th>
            </tr>
            <tr ng-repeat="item in flights">
                <td>{{item.citySource}}</td>
                <td>{{item.cityDestination}}</td>
                <td>{{item.departureDateTime | date : 'yyyy-MM-dd'}}</td>
                <td>{{item.planeNumber}}</td>
                <td>{{item.pilotName}}</td>
            </tr>
        </table>
        <div ng-show="flights.length == 0">
            <p>No hay vuelos disponibles en la plataforma</p>
        </div>
    </div>
</div>